<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>
  <div class="field">
      <%= f.label :content %>
      <%= f.text_field :content %>
  </div>
  <div class="field">
      <%= f.label :category %>
      <%= f.text_field :category%>
  </div> 
  <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
  </div> 
  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>