
<a href="/new">새 글 쓰기</a><br>

<%@posts.each do |p|%>
    <%=p.name%><br>
    <%=p.address%><br>
    
    <%= link_to "<%= p.id %>", post_path(@post), method: :delete, data:{confirm: "삭"} 
    <a href="/edit/<%= p.id%>">[수정]</a><br>
    <hr>
<%end%>
