<div class="container jumbotron">
    
  <h1 class="display-3"><%= @post.name %> </h1>
  <p class="lead">여기 간단한 설명이 들어어어드으으으ㅡ으러어어어어러어어 가며어어어어어어언 좋을 것 같아요요오오오</p>
  <hr class="my-4">
  <p>여기는 상세설며여어어엉어어어어어어엉</p>
  
  <div class="card">
  <%=image_tag @post.image.url, class:"img_preview"%>
      <div class="card-block">
        <p class="card-text">주소: <%= @post.address %></p>
      </div>
    </div>
    <div class="container mx-auto" style="width: 400px;">
    <br><br><br><br><br>
    <%= link_to "Home" ,root_path, class: "btn btn-secondary" %>
    <%= link_to "Edit Post" , edit_post_path, class: "btn btn-secondary" %>
    <%= link_to "Delete Post" , post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-secondary" %>
    </div>

</div>



